body > footer {
    background-color: #f1f1f1;
    height: 202px;
    width: 100%;
    margin-top: 15px;
    min-width: 1366px;
}

body > footer > div.container {
    display: flex;
    margin: 0 auto;
    width: 1366px;
}

body > footer > div.container > nav {
    margin-top: 40px;
}

body > footer > div.container > nav:nth-child(1) {
    margin-left: 47px;
}

body > footer > div.container > nav:nth-child(2) {
    margin-left: 210px;
}

body > footer > div.container > nav:nth-child(3) {
    margin-left: 274px;
}

body > footer > div.container > nav > h3 {
    font-size: 16px;
    color: #1c1a1d;
    margin-bottom: 17px;
}

body > footer > div.container > nav > ul {

}

body > footer > div.container > nav > ul > li {
    list-style-type: none;
    padding: 4px 0;
}

body > footer > div.container > nav > ul > li > a {
    font-size: 15px;
    text-decoration: none;
    color: #222;
}


body > footer > div.container > nav > ul > li > a:hover {
    color: #044ffc;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
    body > footer {

        height: auto;
        width: 100%;
        margin-top: 50px;
        padding-bottom: 50px;
        min-width: 100%;
    }

    body > footer > div.container {
        display: block;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    body > footer > div.container > nav {
        margin-left: 30px !important;
    }

    body > footer > div.container > nav:nth-child(1) {
        padding-top: 46px;
    }

    body > footer > div.container > nav:nth-child(2) {
        padding-top: 4px;

    }

    body > footer > div.container > nav:nth-child(3) {
        padding-top: 10px;
    }


    body > footer > div.container > nav > h3 {
        font-size: 17px;
        word-spacing: 6px;
    }

    body > footer > div.container > nav > ul > li > a {
        font-size: 16px;
    }

}


/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    body > footer > div.container > nav:nth-child(2) {
        margin-left: 15%;
    }

    body > footer > div.container > nav:nth-child(3) {
        margin-left: 20%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
