/* Vérsion pour le désctope*/
body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1366px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px 2.4rem;
}

div#logo {
    float: left;
    height: 43px;
    margin: 30px 10px 10px;
}

div#logo svg {
    width: 97px;
    height: 45px;
}


ul#menu {
    display: flex;
    justify-content: flex-end;
    width: 48%;
    margin-left: calc(43% + 30px);
}

ul#menu a {
    position: relative;
    padding: 40px 30px 32px;
    transition: all .2s;
}

ul#menu a, ul#menu a:visited {
    font-size: 16px;
    text-decoration: unset;
    color: #0089FC;
}


ul#menu a:hover {
    border-top: 4px solid dodgerblue;
}

ul#menu a.active {
    border-top: none !important;
    color: grey;

}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
    body > header {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
    }


    ul#menu a:hover {
        border-top: none;
    }

    div#logo {
        margin: 0;
        display: unset;
        justify-content: unset;
        align-items: unset;
        float: none;
        width: 100%;
        height: 75px;
        padding: 20px;
    }

    div#logo svg {
        width: 100px;
        height: auto;
        margin-top: 20px;
    }

    body > header > nav {
        height: 52px;
        margin-top: 20px;
        width: 100%;
    }

    ul#menu {
        margin-left: 0;
        width: 100%;
    }

    ul#menu > li {
        float: left;
        width: 50%;
    }

    ul#menu a {
        font-size: 16px;
        text-decoration: unset;
        border-bottom: 3px solid;
        padding: 10px 40px;
        width: 100%;
        display: block;
        margin: 0;
    }

    ul#menu > li:nth-child(3) {
        position: absolute;
        top: 30px;
        right: 21px;
        width: auto;
    }

    ul#menu > li:nth-child(3) > a {
        border-bottom: none;
    }

}


/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}


