section.gallery {
    margin-left: -3px;
    height: 463px;
    width: 97%;
}

section.gallery > h3 {

    width: 100%;
    margin-top: 21px;
    height: 27px;
    font-size: 21px;
}

section.gallery > div.wrapper {
    margin-top: 20px;
    display: grid;
    grid-gap: 40px 23px;
    grid-auto-columns: 300px;
    background-color: #fff;
    width: 100%;
}

section.gallery > div.wrapper > figure {
    background-color: white;
    box-shadow: 0.02em 0.02em 1em lightgray;
    width: 284px;
    border-radius: 20px;
    overflow: hidden;
}

section.gallery > div.wrapper > figure > .card_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section.gallery > div.wrapper > figure > figcaption {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 17px;
    background-color: white;
    height: 51px;
    width: 100%;
    bottom: 0;
    position: sticky;
}

section.gallery > div.wrapper > figure > figcaption::first-letter {
    text-transform: uppercase;
}

section.gallery > div.wrapper > figure:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 3;
    height: 416px;
}

section.gallery > div.wrapper > figure:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    height: 220px;
}

section.gallery > div.wrapper > figure:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    height: 155px;
}

section.gallery > div.wrapper > figure:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 416px;
}

section.gallery > div.wrapper > figure:nth-child(5) {
    grid-column: 4;
    grid-row: 1;
    height: 181px;
}

section.gallery > div.wrapper > figure:nth-child(6) {
    grid-column: 4;
    grid-row: 2;
    height: 194px;
    margin-top: -40px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {

    section.gallery {
        margin-top: 46px;
        margin-left: 20px;
        height: auto;
        width: auto;
    }

    section.gallery > h3 {
        width: 100%;
        margin-top: 27px;

        height: 27px;
        font-size: 22px;
    }

    section.gallery > div.wrapper {
        display: block;
        margin-top: 27px;
        grid-gap: 40px 23px;
        grid-auto-columns: 300px;
        background-color: #fff;
        width: 100%;
    }

    section.gallery > div.wrapper > figure {
        width: 335px;
        background-color: white;
        box-shadow: 0.02em 0.02em 1em lightgray;
        margin-bottom: 23px;
        height: auto !important;
        margin-top: 0 !important;
    }

    section.gallery > div.wrapper > figure > .card_img {
        width: 100%;
        height: 135px;
        background-size: 100%;
        background-position: 0 0;
    }

    section.gallery > div.wrapper > figure > figcaption {
        color: dimgrey;
        font-weight: bold;
        font-size: 16px;
        padding: 20px 19px;
        background-color: white;
        /*height: 55px;*/
        width: 100%;
        bottom: 0;
        position: sticky;
    }

}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    section.gallery > div.wrapper > figure {
        width: calc(100% - 60px);
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    section.gallery > div.wrapper {
        grid-auto-columns: 23%;
    }

    section.gallery > div.wrapper > figure {
        width: 100%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    section.gallery {
        margin-top: 65px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
