section.search > h3 {
    line-height: 60px;
    font-size: 21px;
}

section.search > h4 {
    color: #222;
    line-height: 1px;
    font-size: 15px;
    font-weight: normal;
}

/* form search */

section.search > form {
    margin-top: 24px;
}

section.search > form > label {

    padding: 16px 18px 13px 19px;
    border-radius: 18px 0 0 18px;
    background-color: #F2F2F2;

}

section.search > form > input {
    border: 2px solid #F2F2F2;
    border-left: none;
    border-right: none;
    margin: -2px -5px;
    height: 48px;
    width: 222px;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;

}

section.search > form > input:focus {
    outline: none;
    border-color: #F2F2F2;
    background-color: white;
}

section.search > form > button {
    height: 48px;
    padding-top: 1px;

    width: 125px;
    min-width: fit-content;
    border-radius: 0 18px 18px 0;
    color: #F2F2F2;
    font-size: 17px;
    background-color: #0065fc;
    border: none;
    cursor: pointer;

}

section.search > form > button > i {
    display: none;
}

/* filters */
section.search > div.filters {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 8px 26px;
}

section.search > div.filters > h4 {
    font-size: 18px;
    line-height: 45px;
    margin-right: 16px;
}

section.search > div.filters > div {
    width: fit-content;
    border: 3px solid #F2F2F2;
    overflow: hidden;
    text-align: center;

    border-radius: 30px;
    padding: 10px 25px 13px 0px;
    font-size: 17px;
    margin: 0 8.5px;
}

section.search > div.filters > div > span {
    background-color: #DEEBFF;
    color: #044ffc;

    padding: 15px 10px;
    border-radius: 57px;
    margin-left: -6px;
    margin-right: 4px;
}

section.search > div.filters > div > span > i {
    margin: 0 7.5px;
}


/* alert info */
section.search > p.alert {
    color: #222;
    font-size: 15px;
    word-spacing: 0px;
    font-weight: 500;
}


section.search > p.alert > i {
    margin: 5px;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 13px;

    background-color: #fefefe;
    color: #044ffc;
    border: 3px solid #F2F2F2;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    section.search {
        width: calc(100% - 20px);
        margin: 23px 0 0 20px;
    }

    section.search > h3 {
        line-height: 25px;
        font-size: 21.5px;
        margin: 9px 71px 0 0;
    }

    section.search > h4 {
        color: dimgrey;
        line-height: 46px;
        font-size: 15px;
    }

    section.search > form {
        margin-top: 22px;
    }

    section.search > form > label {
        padding: 17px 21px 15px 20px;
    }

    section.search > form > input {
        border: 2px solid #F2F2F2;
        border-left: none;
        border-right: none;
        margin: 0px -16px 0 -5px;

        height: 51px;
        width: 244px;
        font-size: 18px;

    }

    section.search > form > button {
        height: 50px;
        width: 50px;
        padding-top: 0px;
        border-radius: 15px;
        min-width: fit-content;
        color: #F2F2F2;
        font-size: 17px;
        background-color: #0065fc;
        border: none;
        cursor: pointer;

    }

    section.search > form > button > i {
        display: block;
    }

    section.search > form > button > span {
        display: none;
    }

    section.search > div.filters {
        width: 100%;
        margin: 19px 0 0;
        display: inline-block;
    }

    section.search > div.filters > h4 {
        font-size: 17px;
        line-height: 50px;
        margin-right: 0;
        margin-left: 5px;
    }

    section.search > div.filters > div {
        border: 2px solid #F2F2F2;
        overflow: hidden;
        text-align: start;
        border-radius: 30px;

        float: left;
        width: fit-content;
        margin: 0 12px 15px 0px;
        padding: 10px 12px 10px 15px;
        font-size: 16px;
    }

    section.search > div.filters > div > span {
        background-color: #DEEBFF;
        color: #044ffc;
        padding: 15px 6px;
        border-radius: 25px;
        margin-left: -15px;
        margin-right: 15px;
        font-size: 20px;

    }

    section.search > p.alert {
        color: #a0a1a1;
        font-size: 16px;
        width: 80%;
        display: block;
        clear: both;
        word-spacing: 0;
        font-weight: 500;
        line-height: 6px;
        margin: 14px 35px;
    }

    section.search > p.alert > i {
        margin-bottom: 5px;
        margin-left: -33px;
    }


}

/* Small Devices, Tablets */
@media only screen and (min-width: 480px) and (max-width: 1024px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
