
section.housing {
    margin-top: 30px;
    margin-left: -3px;
    height: 587px;
    width: 1266px;
}

section.housing > article {
    float: left;
    min-width: 824px;
    width: 61%;
    background-color: #f2f2f2;
    border-radius: 21px;
    padding-top: 10px;
    height: 587px;
}

section.housing > article > header {
    margin: 30px 36px 10px;
    width: calc(100% - 72px);
}

section.housing > article > header > h3 {
    font-weight: bold;
    color: black;
    font-size: 22px;
}

section.housing > article > footer {
    width: calc(100% - 5rem);
    margin: 1rem 2.5rem;
}


section.housing > article > footer > a {
    font-size: 18px;
    line-height: 2em;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

section.housing > article > footer > a:hover {
    text-decoration: underline;
}


section.housing > article > div.container {

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 8px 24px;


}

section.housing > article > div.container > div.card {
    display: block;
    width: 230px;
    height: 187px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    padding: 6px 6px;
    margin: 12px 14px;
    box-shadow: 0.02em 0.02em 1em lightgray;
}

section.housing > article > div.container > div.card > .card_img {
    height: 105px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

section.housing > article > div.container > div.card > div.card_body {
    line-height: 1.3em;
    word-spacing: 0;
    margin: 9px 7px 1px;
}

section.housing > article > div.container > div.card > div.card_body h3 {
    font-size: 15px;
}

section.housing > article > div.container > div.card > div.card_body p {
    font-size: 15px;
    color: black;
}

section.housing > article > div.container > div.card > div.card_body p > strong {
    color: black;

}

section.housing > article > div.container > div.card > div.card_footer {
    margin-left: 7px;
}

section.housing > article > div.container > div.card > div.card_footer > span.note {
    margin: 0;
    font-size: 14px;
}

section.housing > article > div.container > div.card > div.card_footer > span.note > i {
    margin: 0;
    font-size: 0.8em;
    color: #044ffc;
}

section.housing > article > div.container > div.card > div.card_footer > span.note > i.note0 {
    color: #d9d9da !important;
}
section.housing > h1 {
    display: none!important;
}

/* aside */
section.housing > aside {
    float: right;
    margin-left: 37px;
    width: 29%;
    min-width: 392px;
    height: 587px;
    border-radius: 21px;
    padding-top: 10px;
    background-color: #f2f2f2;

}

section.housing > aside > header {
    margin: 30px 33px 0;
    height: 25px;
}

section.housing > aside > header > h3 {
    font-weight: bold;
    color: black;
    font-size: 21px;
    float: left;
}

section.housing > aside > header > i {
    font-weight: bold;
    color: black;
    font-size: 21px;
    float: right;
}

section.housing > aside > div.container {
    width: 100%;
    flex: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

section.housing > aside > div.container > div.card {
    display: block;
    width: 322px;
    height: 135px;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px 5px;
    margin: 23px 33px 8px;
    background-color: white;
    box-shadow: 0.02em 0.02em 1em lightgray;
}

section.housing > aside > div.container > div.card > .card_img {
    margin: 0 18px 0 0;
    width: 119px;
    height: 125px;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    float: left;
}


section.housing > aside > div.container > div.card > div.card_body {
    margin-top: 9px;
    margin-right: 31px;
    width: 143px;
    height: 88px;
    float: right;
}

section.housing > aside > div.container > div.card > div.card_body h3 {
    font-size: .92em;
    word-spacing: .28em;
    line-height: 1.3em;
}

section.housing > aside > div.container > div.card > div.card_body p {
    font-size: 0.8em;
    line-height: 1.9em;
    color: black;
}

section.housing > aside > div.container > div.card > div.card_body p > strong {
    color: black;
}

section.housing > aside > div.container > div.card > div.card_footer {
    margin-right: 31px;
    width: 143px;
    height: 18px;
    float: right;
}

section.housing > aside > div.container > div.card > div.card_footer > span.note {
    margin: 0;
    font-size: 14px;
}

section.housing > aside > div.container > div.card > div.card_footer > span.note > i {
    margin: 0;
    font-size: 0.8em;
    color: #044ffc;
}

section.housing > aside > div.container > div.card > div.card_footer > span.note > i.note0 {
    color: #d9d9da !important;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    section.housing > article {
        background-color: unset;
        border-radius: unset;

    }

    section.housing > aside {
        border-radius: 0;
    }
}

@media only screen and (max-width: 480px) {

    /*article*/
    section.housing {
        margin-top: 0;
        margin-left: 0px;
        height: auto;
        width: 100%;
    }

    section.housing > article {
        float: none;
        min-width: auto;
        width: auto;
        padding-top: 0;
        height: auto;
        margin-top: 36px;
    }


    section.housing > article > header {
        margin: 25px 1px 18px;
        width: calc(100% - 72px);
    }

    section.housing > article > header > h3 {
        margin-left: 16px;
    }


    section.housing > article > div.container {
        display: block;
        justify-content: unset;
        flex-flow: unset;
        margin: 6px 2px;
    }

    section.housing > article > div.container > div.card {
        display: block;
        width: 338px;
        height: 202px;
        background-color: unset;
        border-radius: 15px;
        overflow: hidden;
        padding: 6px;
        margin: 9px 17px;
    }

    section.housing > article > div.container > div.card > .card_img {

        height: 119px;
        background-size: 103% 175%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
    }

    section.housing > article > div.container > div.card > div.card_body {
        word-spacing: 0;
        margin: 0 12px;
        line-height: 1.1em;
    }

    section.housing > article > div.container > div.card > div.card_body h3 {
        word-spacing: 3px;
        line-height: 1.7em;
    }

    section.housing > article > div.container > div.card > div.card_body p {
        line-height: 1.3em;
    }


    section.housing > article > div.container > div.card > div.card_footer {
        margin-left: 12px;
        margin-top: 4px;
    }

    section.housing > article > div.container > div.card > div.card_footer > span.note {
    }

    section.housing > article > div.container > div.card > div.card_footer > span.note > i {
        margin: -1px;
    }

    section.housing > article > div.container > div.card > div.card_footer > span.note > i.note0 {
    }

    section.housing > article > footer {
        margin-top: 20px;
        margin-left: 0;
        padding-left: 20px;
        width: 100%;
    }

    section.housing > article > footer > a {
    }

    section.housing > article > footer > a:hover {
    }


    /* aside */
    section.housing > aside {
        float: none;
        margin-left: 0;
        width: 29%;
        min-width: 376px;
        height: 580px;
        padding-top: 8px;
        margin-top: 43px;
    }

    section.housing > aside > header {
        margin: 30px 21px 0;
        height: 25px;
    }

    section.housing > aside > header > h3 {

    }

    section.housing > aside > header > i {

    }

    section.housing > aside > div.container {
        margin-top: 18px;
    }

    section.housing > aside > div.container > div.card {
        width: 335px;
        height: 145px;
        margin: 8px 20px 2px;
        background-color: white;
    }

    section.housing > aside > div.container > div.card > .card_img {
        margin: 0 18px 0 0;
        width: 127px;
        height: 134px;
    }


    section.housing > aside > div.container > div.card > div.card_body {
        margin-top: 11px;
        margin-right: 31px;
        width: 147px;
        height: 98px;
    }

    section.housing > aside > div.container > div.card > div.card_body h3 {
    }

    section.housing > aside > div.container > div.card > div.card_body h4 {
    }

    section.housing > aside > div.container > div.card > div.card_footer {
        width: 147px;
    }

    section.housing > aside > div.container > div.card > div.card_footer > span.note {
        margin: 0;
        font-size: 14px;
    }

    section.housing > aside > div.container > div.card > div.card_footer > span.note > i {
        margin: 0;
        font-size: 0.8em;
        color: #044ffc;
    }

    section.housing > aside > div.container > div.card > div.card_footer > span.note > i.note0 {
        color: #d9d9da !important;
    }

}


/* Small Devices, Tablets */
@media only screen and (min-width: 480px) and (max-width: 1024px) {


    section.housing > article > div.container > div.card {
        width: 25%;
    }

    section.housing > aside {
        float: none;
        margin: 0 auto 25px;
        padding-bottom: 25px;
    }

    section.housing > article {
        float: none;
        margin: 0 auto 25px;
    }

    section.housing > aside > div.container > div.card {
        width: 30%;
        margin: 23px 1% 8px;
    }

    section.housing > aside > div.container > div.card:nth-child(1) {
        margin-left: 30px;
    }

    section.housing > aside > div.container > div.card > .card_img,
    section.housing > aside > div.container > div.card > div.card_footer,
    section.housing > aside > div.container > div.card > div.card_body {
        width: 40%;
        margin-right: 10%;
    }

    section.housing > aside > div.container > div.card > div.card_body h3,
    section.housing > article > div.container > div.card > div.card_body h3 {
        font-size: .62em;
    }

    section.housing > aside > div.container > div.card > div.card_body p,
    section.housing > article > div.container > div.card > div.card_body p {
        font-size: .5em;

    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {

    section.housing > aside > div.container > div.card {
        width: 100%;
        margin: 23px 30px 8px !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
