* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

body > main {
    padding-left: 50px;
    margin: 0 auto 65px;
    width: 1366px;

}

img {
    object-fit: cover!important;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    body > main {
        height: auto;
        padding-left: 0;
        width: 100%;
        margin: 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 480px) and (max-width: 1024px) {

    body > header, body > footer, body > footer > div.container, body > main,
    section.housing, section.housing > aside, section.housing > article {
        width: 100% !important;
        min-width: auto !important;
        height: auto !important;
    }

    main {
        margin-left: 25px;
        height: auto;

    }

    section.gallery, section.housing {
        margin-left: auto;
    }

}

@media only screen and (min-width: 480px) and (max-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
