/* TODO: delete this file */

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    body {
        background-image: url("../images/maquette - Reservia/Desktop - 1.png");
        background-size: 1366px auto;
        background-repeat: no-repeat;
        opacity: 0.4;
        background-position: top center;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
    body {
        background-image: url("../images/maquette - Reservia/iPhone 8 - 1.png");
        background-size: auto;
        background-repeat: no-repeat;
        opacity: 0.6;
    }

}
