/* TODO: delete this file */


.card_img {
    background-image: none !important;
}

ul#menu a, ul#menu a:visited {
    color: green;
}

body > main {
    background-color: black;
}

body > header {
    background-color: blue;
}

#logo > a > svg > path {
    fill: red;
}

body > footer {
    background-color: blue;
}

body > footer > nav > ul > li > a {
    color: red;
}

body > footer > nav > h3 {
    color: red;
}

section.search > h3 {
    color: red;
}

section.search > h4 {
    color: red;
}

section.search > form > button {
    color: aqua;
    background-color: red;
}

section.search > form > label {
    background-color: red;
}

section.search > form > input {
    border-color: red;
}

section.search > div.filters > div > span {
    background-color: red;
    color: darkred;
}

section.search > div.filters > div {
    border-color: red;
    color: aqua;
}

section.search > p.alert > i {
    background-color: red;
    color: darkred;
    border-color: red;
}

section.search > p.alert {
    color: red;
}

section.housing > article {
    background: yellow;
}


section.housing > article > div.container > div.card {
    background: red;
}

section.housing > article > div.container > div.card > .card_img {
    background: none !important;
    background-color: blue !important;
}

section.housing > article > header, section.housing > article > footer {
    background-color: blue;
}

section.housing > article > footer > a {
    color: darkred;
}

section.housing > aside {
    background-color: yellow;
}

section.housing > aside > header {
    background-color: blue;
}

section.housing > aside > div.container > div.card {
    background: red;
}

section.housing > aside > div.container > div.card > .card_img {
    background: none !important;
    background-color: blue !important;
}

h3, h4, i, a, p, strong, figcaption, #search::placeholder, button {
    color: #84ffe8 !important;
}

section.gallery, section.gallery > div.wrapper {
    background-color: yellow;
}

section.gallery > h3 {
    background-color: blue;
}

section.gallery > div.wrapper > figure {
    background-color: green;
}

section.gallery > div.wrapper > figure > img {
    opacity: 0;
}

section.gallery > div.wrapper > figure > figcaption {
    background-color: red;
}

